*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.click-event1{
    width: 150px;
    height: 150px;
    background-color: yellow;
    transition: 1s ease;
}

.click-event2{
    width: 150px;
    height: 150px;
    background-color: green;
    transition: 1s ease;
}

.click-event3{
    width: 150px;
    height: 150px;
    background-color: red;
    transition: 1s ease;
}

.click-event4{
    width: 150px;
    height: 150px;
    background-color: black;
    transition: 1s ease;
}

.border{
    border-radius: 70%;
}
