/* .btn{
    padding: 30px 53px;
    margin-bottom: 2px;
    background: var(--color);
    cursor: pointer;
}
.btn-1 {--color: red;}
.btn-2 {--color: green;}
.btn-3 {--color: blue;}
.btn-4 {--color: yellow;}
.btn-5 {--color: brown;}
.btn-6 {--color: orange;}
.btn-7 {--color: purple;}
.btn-8 {--color: black;} */

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 60%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.bouton-1{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
}
.bouton-2{
    width: 100px;
    height: 100px;
    background-color: green;
}
.bouton-3{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.bouton-4{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.border{
    border-radius: 60%;
}

